#banner-part {
    background: url(../images/banner.jpg)no-repeat center;
    background-size: cover;

    .banner {
        padding: 250px 0;
        color: #fff;
        text-align: left;
        position: relative;

        .details {
            position: absolute;
            top: 25%;
            left: 10%;

            h1 {
                font-size: 70px;
                font-weight: 700;
            }

            h2 {
                font-size: 50px;
                font-weight: 600;
            }

            h3 {
                font-size: 40px;
            }
        }
    }

    .slick-active {
        .details {
            animation: ani 2s;
        }
    }

    @keyframes ani {
        from {
            top: -5%;
        }

        to {
            top: 25%;
        }
    }
}